@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400&family=Poppins:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --background: var(--color-sky-blue-50);
  --foreground: var(--color-lake-blue-950);
}

@theme {
  /* Breakpoints */
  --breakpoint-xs: 21.25rem; /* 340px */
  --breakpoint-sm: 22.5rem; /* 360px */
  --breakpoint-smmd: 25rem; /* 400px */
  --breakpoint-smmdd: 37.5rem; /* 600px */
  --breakpoint-lgxl: 80rem; /* 1280px */
  --breakpoint-xl: 90rem; /* 1440px */

  /* Colors */
  --color-sky-blue-50: #f0fdff;
  --color-sky-blue-100: #cfeaf6;
  --color-sky-blue-200: #b6dff4;
  --color-sky-blue-300: #98d0ee;
  --color-sky-blue-400: #80b5d1;
  --color-sky-blue-500: #6a9ab4;
  --color-sky-blue-600: #558097;
  --color-sky-blue-700: #42667a;
  --color-sky-blue-800: #304d5c;
  --color-sky-blue-900: #1f343f;
  --color-sky-blue-950: #0d1d25;

  --color-lake-blue-50: #e5f3ff;
  --color-lake-blue-100: #c3e2ff;
  --color-lake-blue-200: #9dd0ff;
  --color-lake-blue-300: #72a5e9;
  --color-lake-blue-400: #5987db;
  --color-lake-blue-500: #416ebf;
  --color-lake-blue-600: #31579c;
  --color-lake-blue-700: #2e4c82;
  --color-lake-blue-800: #2d436c;
  --color-lake-blue-900: #13264a;
  --color-lake-blue-950: #111e36;

  --color-tree-green-50: #ddfae0;
  --color-tree-green-100: #b3e9b9;
  --color-tree-green-200: #93ec9d;
  --color-tree-green-300: #75da81;
  --color-tree-green-400: #5dc367;
  --color-tree-green-500: #55b95f;
  --color-tree-green-600: #429c4b;
  --color-tree-green-700: #318346;
  --color-tree-green-800: #2c5d40;
  --color-tree-green-900: #16441a;
  --color-tree-green-950: #0c3110;

  /* Gradients */
  --gradient-green-to-blue-horizontal: linear-gradient(
    90deg,
    var(--color-tree-green-500) 0%,
    var(--color-lake-blue-600) 100%
  );
  --gradient-green-to-blue-vertical: linear-gradient(
    var(--color-tree-green-500) 0%,
    var(--color-lake-blue-600) 100%
  );

  /* Shadows */
  --drop-shadow-text-glow: 0 0 5px rgba(240, 253, 255, 1);

  /* Typography */
  --Font-Family-Font-Serif: Belanosima;
  --Font-Family-Font-Sans-Serif: Poppins;

  --text-lg: 1.25rem; /* 1.25rem (20px) */
  --text-lg--line-height: calc(1.75 / 1.25);
  --text-xl: 1.5625rem; /* 1.5625rem (25px) */
  --text-xl--line-height: calc(2 / 1.5625);
  --text-2xl: 1.9375rem; /* 1.9375rem (31px) */
  --text-2xl--line-height: calc(2.5 / 1.9375);
  --text-3xl: 2.4375rem; /* 2.4375rem (39px) */
  --text-3xl--line-height: calc(3 / 2.4375);
  --text-4xl: 3rem; /* 3rem (48px) */
  --text-4xl--line-height: calc(2.5 / 3);
  --text-5xl: 3.8125rem; /* 3.8125rem (61px) */
  --text-5xl--line-height: calc(4 / 3.8125);

  /* Height */
  --height-header: calc(
    theme("spacing.4") + theme("spacing.12") + theme("spacing.4")
  ); /* 16px + 48px + 16px = 80px / py + h + py */
  --height-header-md: calc(
    theme("spacing.4") + theme("spacing.16") + theme("spacing.4")
  ); /* 16px + 64px + 16px = 96px / py + h + py */
  --height-header-lg: calc(
    theme("spacing.6") + theme("spacing.16") + theme("spacing.6")
  ); /* 24px + 64px + 24px = 112px / py + h + py */
  --height-header-xl: calc(
    theme("spacing.6") + theme("spacing.20") + theme("spacing.6")
  ); /* 24px + 80px + 24px = 128px / py + h + py */

  /* Animation */
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-open-menu: open-menu 0.5s ease-in-out forwards;
  @keyframes open-menu {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}

@theme inline {
  --color-background: var(--color-sky-blue-50);
  --color-foreground: var(--color-lake-blue-950);
  --font-sans: var(--Font-Family-Font-Sans-Serif);
  --font-serif: var(--Font-Family-Font-Serif);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family:
      var(--Font-Family-Font-Sans-Serif),
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-normal uppercase;
  }

  h1 {
    @apply text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-xl lg:text-2xl;
  }

  h5 {
    @apply text-lg lg:text-xl;
  }

  h6 {
    @apply text-base xl:text-lg;
  }
}

@layer components {
  .top-header-offset {
    top: var(--height-header);

    @variant md {
      top: var(--height-header-md);
    }

    @variant lg {
      top: var(--height-header-lg);
    }
  }

  .height-viewport-header-offset {
    height: calc(100vh - var(--height-header));

    @variant md {
      height: calc(100vh - var(--height-header-md));
    }

    @variant lg {
      height: calc(100vh - var(--height-header-lg));
    }

    @variant xl {
      height: calc(100vh - var(--height-header-xl));
    }
  }

  .margin-top-header-offset {
    margin-top: var(--height-header);

    @variant md {
      margin-top: var(--height-header-md);
    }

    @variant lg {
      margin-top: var(--height-header-lg);
    }

    @variant xl {
      margin-top: var(--height-header-xl);
    }
  }

  #nav-mobile nav a {
    @apply !block !drop-shadow-none hover:!text-white hover:!opacity-80;
  }

  #nav-mobile nav a.nav-limited {
    @apply md:max-xl:!hidden;
  }

  #nav-mobile nav a.projects-desktop {
    @apply !hidden;
  }

  #nav-mobile nav a.projects-mobile,
  #nav-mobile nav a.projects-mobile + div > a {
    @apply md:!hidden;
  }

  .nav-toggle-btn & > div {
    top: calc(var(--height-header));

    @variant md {
      top: calc(var(--height-header-md));
    }

    @variant lg {
      top: calc(var(--height-header-lg));
    }

    @variant xl {
      top: calc(var(--height-header-xl));
    }
  }

  .nav-toggle-btn {
    @apply [&>div]:bg-lake-blue-950 [&>div::before]:bg-lake-blue-950 [&>div::after]:bg-lake-blue-950 [&>div::after]:absolute [&>div::after]:h-1 [&>div::after]:w-7 [&>div::after]:-translate-x-3.5 [&>div::after]:rounded [&>div::after]:transition-all [&>div::after]:duration-500 [&>div::after]:content-[''] [&>div::before]:absolute [&>div::before]:h-1 [&>div::before]:w-7 [&>div::before]:-translate-x-3.5 [&>div::before]:rounded [&>div::before]:transition-all [&>div::before]:duration-500 [&>div::before]:content-[''] [&>div]:absolute [&>div]:h-1 [&>div]:w-7 [&>div]:rounded [&>div]:transition-all [&>div]:duration-500;
  }

  .nav-toggle-btn-ham {
    @apply [&>div::after]:translate-y-2 [&>div::before]:-translate-y-2;
  }

  .nav-toggle-btn-close {
    @apply [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div]:rotate-[720deg] [&>div]:bg-transparent;
  }

  .text-body-lg {
    @apply text-base xl:text-lg;
  }

  .button {
    @apply w-full rounded-md px-10 py-2.5 !text-center text-base font-bold md:w-auto xl:text-lg;
  }

  .button-primary {
    @apply bg-lake-blue-800 text-sky-blue-50;
  }

  .button-secondary {
    @apply bg-tree-green-500 text-lake-blue-950;
  }
}

/* Utility classes for gradients */
.gradient-green-to-blue-horizontal {
  background: var(--gradient-green-to-blue-horizontal);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-color: var(--color-lake-blue-600);
}

.bg-gradient-green-to-blue-vertical {
  background: var(--gradient-green-to-blue-vertical);
  -webkit-text-fill-color: transparent;
}
